// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
}

.margin_top {
  margin-top: 7em;
}

.margin_bottom {
  margin-bottom: .6em;
}

.btn {
  margin-top: .5em;
}

#new_button {
  color: white;
}

#main_form {
  border: 2px solid rgba(39, 174, 96, 7.0);
  border-radius: 7px;
  padding: 2em 3em;
}

#show_calc {
  border: 2px solid rgba(39, 174, 96, 7.0);
  border-radius: 7px;
  padding: 2em 3em;
}

.result {
  color: #C0392B;
  font-weight: bold;
}
